/* Fonts */
@font-face {
  font-family: 'simplon';
  src: url('../fonts/simplonnorm-bold-webfont.eot');
  src: url('../fonts/simplonnorm-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/simplonnorm-bold-webfont.woff') format('woff'),
       url('../fonts/simplonnorm-bold-webfont.ttf') format('truetype'),
       url('../fonts/simplonnorm-bold-webfont.svg#simplon_normbold') format('svg');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'simplon';
  src: url('../fonts/simplonnorm-regular-webfont.eot');
  src: url('../fonts/simplonnorm-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/simplonnorm-regular-webfont.woff') format('woff'),
       url('../fonts/simplonnorm-regular-webfont.ttf') format('truetype'),
       url('../fonts/simplonnorm-regular-webfont.svg#simplon_normregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tdm';
  src: url('../fonts/The-Data-Matters-Icons.eot');
  src: url('../fonts/The-Data-Matters-Icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/The-Data-Matters-Icons.woff') format('woff'),
       url('../fonts/The-Data-Matters-Icons.ttf') format('truetype'),
       url('../fonts/The-Data-Matters-Icons.svg#simplon_normregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class$="-tdm"], [class*="-tdm "] {
  font-family: 'tdm';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* END fonts */

/* Overide bootstrap */
@media (max-width: 768px) {
  .hidden-xs,
  tr.hidden-xs,
  th.hidden-xs,
  td.hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
/* END Overide bootstrap */

/* General stuff */
#outer-wrapper {
  overflow: hidden;
  min-width: 300px;
}
#wrapper {
  width: 100%;
  float: right;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a, a:active, a:focus {
  outline: 0;
}
/* End of general stuff */

/* Typography */
body {
  font-family: "Simplon", Helvetica, Arial, sans-serif;
}
.grey {
  background-color: #efefef;
}
@media (min-width: 769px) {
  .grey {
    background-color: #fff;
  }
}
h1 {

}
h2 {
  margin: 0;
}
h3 {

}
/* END typography */

/* header */
header {
  height: 187px;
  padding-top: 32px;
  margin-bottom: 16px;
}
header .content.affix {
  width: 100%;
  top: -108px;
  z-index: 50;
}
.logo {
  width: 70px;
  height: 75px;
  margin: 0 0 32px 20px;
}
.logo a {
  position: absolute;
  width: 70px;
  height: 75px;
  text-indent: -9999px;
  background: url(../img/logo.png) no-repeat center center;
}
.main-nav {
  position: relative;
  width: 100%;
  height: 48px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main-nav ul {
  position: relative;
  width: 100%;
  padding-left: 48px;
}
.main-nav > ul {
  background: #fff;
}
.main-nav li {
  width: 50%;
  float: left;
  line-height: 46px;
  text-indent: 10px;
  border-left: 1px solid #ccc;
  background-color: #efefef;
}
.main-nav li a,
.main-nav li a:hover {
  display: block;
  color: #000;
  text-decoration: none;
}
.main-nav li a {
  font-size: 16px;
}
.main-nav li:first-child {
  border-left: none;
}
.main-nav .menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 46px;
  border-left: none;
  border-right: 1px solid #ccc;
  background-image: none;
}
.main-nav .menu-icon a {
  display: block;
  text-indent: -9999px;
  background: url(../img/menu-icon.png) no-repeat center 18px;
}
.slideout-menu-opened .main-nav .menu-icon a {
  background-position: center -32px;
}
.main-nav .menu-tablet {
  margin-left: 82px;
  border-left: 1px solid #ccc;
  color: #f00;
  background-color: #fff;
}
.main-nav .menu-tablet li {
  width: 145px;
}
.main-nav .menu-search {
  position: relative;
  width: 180px;
  background: none;
}
.main-nav .menu-search input {
  float: left;
  width: 144px;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  outline: none;
  border: none;
  background: #fff;
}
.main-nav .menu-search a {
  display: block;
  width: 35px;
  float: left;
  text-indent: -9999px;
  border-left: 1px solid #ccc;
  background: #f0f0f0 url(../img/search-icon.png) no-repeat center 11px;
}
.main-nav .menu-search.active a {
  background-position: center -14px;
}
.main-nav .search-results {
  display: none;
  position: absolute;
  top: 33px;
  left: -1px;
  width: 181px;
  padding-left: 0;
  z-index: 1001;
  border-bottom: 1px solid #ccc;
}
.main-nav .active .search-results {
  display: block;
}
.main-nav .search-results li {
  width: 181px;
  background: #fff;
  border-top: 1px dotted #ccc;
}
.main-nav .search-results li:first-child {
  border-top: none;
}
.main-nav .search-results li a {
  width: 100%;
  padding-left: 11px;
  text-indent: 0;
  color: #727272;
  background: none;
}
.main-nav .search-results li a:hover,
.main-nav .search-results li a:active {
  color: #f00;
}

@media (min-width: 492px) {
  .main-nav li {
    border-left: none;
    border-right: 1px solid #ccc;
  }
  .main-nav li:first-child {
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 769px) {
  header {
    height: 34px;
    padding-top: 0;
  }
  header .content.affix {
    top: 0px;
  }
  .main-nav {
    height: 34px;
  }
  .main-nav li {
    width: 145px;
    line-height: 32px;
  }
  .main-nav li a {
    font-size: 14px;
  }
  .main-nav .menu-icon {
    height: 32px;
  }
  .logo {
    position: absolute;
    top: 50px;
    left: 30px;
    margin: 0;
    z-index: 10;
  }
  .logged-in .logo {
    top: 79px;
  }
}

@media (min-width: 1200px) {
  .main-nav .right {
    float: right;
    border-left: 1px solid #ccc;
  }
  .filter-button.menu-tablet {
    width: auto;
    border: none;
  }
  .filter-button.menu-tablet .label {
    display: none;
  }
  .filter-button.menu-tablet .filter-content {
    display: block;
    position: static;
    opacity: 1;
  }
  .filter-button.menu-tablet .filter-content ul {
    border: none;
  }
  .filter-button.menu-tablet .filter-content li {
    float: left;
    width: auto;
    height: 32px;
    padding-left: 0;
    padding-right: 20px;
    border: none;
  }
  .filter-button.menu-tablet .filter-content li a {
    font-size: 14px;
    line-height: 32px;
    color: #000;
  }
  .filter-button.menu-tablet .filter-content li a.active,
  .filter-button.menu-tablet .filter-content li a:active,
  .filter-button.menu-tablet .filter-content li a:hover {
    color: #f00;
  }
}
/* end of header */

/* Slideout menu */
#slideout-menu {
  float: left;
  width: 0;
  margin-left: -1px;
  overflow: hidden;
  border-right: 1px solid #ccc;
  background: #efefef;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slideout-menu-opened #slideout-menu {
  width: 273px;
  margin-left: 0;
}
.slideout-menu-opened #wrapper {
  margin-right: -273px;
}
#slideout-menu > ul {
  margin-top: -1px;
}
#slideout-menu > ul li a {
  display: block;
  padding-left: 12px;
  line-height: 46px;
  font-size: 16px;
  color: #000;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  width: 272px;
}
#slideout-menu li a:hover,
#slideout-menu li a:active,
#slideout-menu li a.active {
  color: #ff0000;
}
/* End of slideout menu */

/* Main content */
.main-content {
  position: relative;
}
/* End of Main content */

/* Projects */
.projects {
  padding: 0 16px;
  min-height: 700px; /* no results filtering */
}
.projects .project {
  display: none;
  opacity: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
  border: 1px solid #ccc;
}
.projects .project a {
  color: #303030;
}
.projects .project a:hover h2 {
  text-decoration: underline;
}
.projects .project a:hover img {
  opacity: 0.8;
}
.project img {
  float: left;
  width: 45.5%;
}
.project .content {
  float: left;
  width: 54.5%;
  padding: 10px 12px 0;
}
.project h2 {
  font-size: 12px;
}
@media (min-width: 400px) {
  .project h2 {
    font-size: 14px;
  }
}
.project .country,
.project .field {
  position: absolute;
  height: 32px;
  bottom: 0;
  margin: 0;
  padding: 8px 0 0 25px;
  font-size: 12px;
  border-top: 1px dotted #ccc;
}
.project .country {
  float: left;
  left: 45.5%;
  width: 17.7%;
  padding-left: 25px;
  border-right: 1px dotted #ccc;
  background: url(../img/country-pin.png) no-repeat 9px center;
  color: #646464;
}

.project .country .long{
  display: none;
}

.svg .project .field,
.svg .project .country {background-image: none;}


.project .field {
  float: left;
  width: 34.8%;
  left: 63.2%;
  background: url(../img/field-icon.png) no-repeat 7px center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #646464;
}

@media (min-width: 492px) {
  .projects {
    width: 488px;
    margin: 0 auto;
    padding-left: 0;
    padding: 0;
  }
  .projects .project {
    width: 220px;
    height: 280px;
    margin-left: 16px;
    margin-bottom: 16px;
  }
  .project img,
  .project .content,
  .project .country,
  .project .field {
    /*float: none;*/
    width: 100%;
  }
  .project .content {
    padding: 20px 12px 0;
  }
  .project .country,
  .project .field {
    left: 0;
  }
  .project .country {
    bottom: 32px;
    padding-left: 25px;
    border-right: none;
    background-position: 10px center;
  }
  .project .country .short{
    display: none;
  }
  .project .country .long{
    display: inline;
  }

}

@media (min-width: 740px) {
  .projects {
    width: 724px;
  }
}

@media (min-width: 769px) {
  .projects {
    width: auto;
    margin: auto;
    padding-left: 114px;
    padding-right: 20px;
  }
}
/* End of projects */

/* Project full preview */
#project-preview {
  display: none;
  /*position: absolute;
  top: -16px;
  left: 0;*/

  margin-top: -16px;
  background: #fff;
}
.project-preview header {
  padding-top: 0;
  height: auto;
}
.project-preview #project-preview {
  display: block;
}
#project-preview img {
  width: 100%;
}
#project-preview h2,
#project-preview .country,
#project-preview .link {
  padding-left: 16px;
}
#project-preview h2 {
  font-size: 16px;
  line-height: 21px;
  padding: 15px 16px 17px;
  border-top: 1px solid #ccc;
  border-bottom: 1px dotted #ccc;
  background: #efefef;
}

#project-preview .info {
  border-bottom: 1px solid #ccc;
  background: #efefef;
  line-height: 0px;
}

#project-preview .country {
  height: 32px;
  margin: 0;
  padding-left: 30px;
  font-size: 12px;
  line-height: 34px;
  background: #efefef url(../img/country-pin.png) no-repeat 16px center;
  display: inline-block;
  float: left;
  z-index: 3;
  margin-right: 30px;
}
#project-preview .country a {
  color: #646464;
}
#project-preview .field {
  display: block;
  height: 33px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 34px;
  border-bottom: 1px dotted #ccc;
  background: #efefef url(../img/field-icon.png) no-repeat 15px 10px;
  margin: 0px;
  
}

#project-preview .field a {
  color: #646464;
}
#project-preview .link,
#project-preview .ngo {
  height: 33px;
  margin: 0;
  padding-left: 32px;
  font-size: 12px;
  line-height: 34px;
  color: #646464;
  background: url(../img/world-icon.png) no-repeat 14px center;
  display: inline-block;
  overflow: hidden;

}

#project-preview .link{
  display: inline-block;
}

#project-preview .ngo {
  background: url(../img/ngo-icon.png) no-repeat 14px 10px;
  overflow: hidden;
  cursor: pointer;
}

#project-preview .ngo.active {
  color: #FF0000;
  background: url(../img/ngo-icon.png) no-repeat 14px -23px;
}

.svg #project-preview .field,
.svg #project-preview .ngo,
.svg #project-preview .country,
.svg #project-preview .link{background-image: none}

#project-preview .link a {
  color: #646464;
}

#project-preview .contacts{
  height: 0px;
  margin: 0;
  padding-left: 32px;
  font-size: 12px;
  line-height: 34px;
  
  color: #646464;
  background: url(../img/contact-icon.png) no-repeat 14px center;
  overflow: hidden;
}

#project-preview .contacts.show {
  height: 33px;
  border-top: 1px dotted #ccc;
  
}

#project-preview .content {
  padding: 16px;
  padding-bottom: 0;
}
#project-preview .content p {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.project-preview .logo,
.project-preview .filter-button {
  display: none;
}
.project-preview .main-nav {
  border-top: none;
  height: 47px;
  background: #efefef;
}
.project-preview #slideout-menu ul {
  margin-top: 0;
}
.project-preview .main-nav .menu-icon {
  border-right: 1px solid #ccc;
}
.main-nav .close-full-preview {
  display: none;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background: url(../img/close-icon.png) no-repeat center center;
}
.project-preview .main-nav .close-full-preview {
  display: block;
}

@media (min-width: 492px) {
  body.project-preview {
    background: #efefef;
  }
  #project-preview {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    background: #efefef;
  }
  #project-preview .preview-content {
    width: 460px;
    border: 1px solid #ccc;
    background: #fff;
  }
  #project-preview h2,
  #project-preview .country,
  #project-preview .field,
  #project-preview .link {
    background-color: #fff;
  }
  #project-preview .preview-content {
    margin: 0 auto;
  }
  #project-preview .info {
    background: white
  }
  #project-preview .country {
    margin-right: 0px;
    height: 32px;
  }
  
  #project-preview .field {
    float: left;
    border-bottom: 0px;
    height: 32px;
  }
  #project-preview .ngo {
    clear: left;
    width: 100%;
    border-top: 1px dotted #ccc;
    height: 34px;
  }
  
  #project-preview .link{
    
    display: block;  
  }
    
  
}

@media (min-width: 769px) {
  .project-preview .logo,
  .project-preview .filter-button {
    display: block;
  }
  .project-preview .logo {
    z-index: 100;
  }
  .project-preview .main-nav {
    height: 33px;
    background: #fff;
  }
  .project-preview .main-nav .close-full-preview {
    top: auto;
    right: auto;
    left: 542px;
    top: 50px;
    z-index: 100;
  }
  #project-preview .preview-content {
    margin-left: 114px;
    margin-right: auto;
  }
  #project-preview .country,
  #project-preview .link {
    border-bottom: none;
  }
  #project-preview .info {
    border-bottom: 1px dotted #ccc;
  }
}
/* END project full preview */

/* Filter content */
.filter-button {
  position: relative;
}
.filter-button.active {
  position: static;
}
.filter-button .label {
  background: #efefef url(../img/dropdown-arrows.png);
  background-repeat: no-repeat;
  background-position: top 0px right 10px;
}
.filter-button .label.active {
  color: #f00;
  background-image: none;
}
.filter-button.menu-tablet .label.active {
  background-color: #fff;
  background-image: url(../img/dropdown-arrows.png);
}
.filter-button .label:hover {
  color: #f00;
  background-position: top -46px right 10px; 
}
.filter-button .clear-filter {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  background: url(../img/clear-filter.png) no-repeat 29px 19px;
}
.filter-button .clear-filter:hover {
  display: none;
}
.filter-button .clear-filter.active,
.filter-button .clear-filter.active:hover {
  display: block;
}
.filter-content {
  display: none;
  opacity: 0;
  position: absolute;
  top: -140px;
  left: 0;
  z-index: 100;
  padding: 32px 16px;
  background: #efefef;
}
.filter-content.active {
  display: block;
  opacity: 1;
}
.filter-content h3 {
  position: relative;
  height: 34px;
  margin: 0;
  padding: 0 12px;
  font-size: 14px;
  line-height: 36px;
  text-indent: 0;
  border: 1px solid #ccc;
  background: #fff;
}
.filter-content ul {
  padding: 0;
  width: 100%;
}
.filter-content h3 a {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 101;
  color: #646464;
  text-indent: -9999px;
  background: white url(../img/close-icon.png) no-repeat 0 0;
}
.filter-content ul {
  border-bottom: 1px solid #ccc;
}
.filter-content li {
  float: none;
  width: 100%;
  height: 34px;
  padding: 0 12px;
  text-indent: 0;
  border-top: 1px dotted #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
}
.filter-content li:first-child {
  border-top: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.filter-content li a {
  display: block;
  font-size: 14px;
  line-height: 36px;
  color: #646464;
}
.filter-content li a:hover,
.filter-content li a.active {
  color: #f00;
  text-decoration: none;
}

@media (min-width: 769px) {
  .filter-button.active {
    position: relative;
  }
  .filter-button .label {
    background-position: top -8px right 10px;
  }
  .filter-button .label:hover {
    background-position: top -54px right 10px;
  }
  .filter-button .clear-filter {
    width: 32px;
    height: 32px;
    background: url(../img/clear-filter.png) no-repeat 15px 12px;
  }
  .filter-content {
    top: 32px;
    left: -1px;
    padding: 0;
  }
  .filter-content h3 {
    display: none;
  }
  .filter-content li:first-child {
    border-top: 1px solid #ccc;
  }
  .filter-content li {
    width: 146px;
    padding-left: 10px;
    padding-right: 0;
  }
  .filter-content li a {
    font-size: 12px;
  }
}
/* END of filter content */

/* Slideout Search */
#slideout-menu .filter-content {
  top: 0;
  left: 0;
}
#slideout-menu .filter-content li a {
  padding-left: 0;
  font-size: 14px;
  line-height: 36px;
  border-bottom: none;
}
#slideout-menu .filter-content .close {
  border-bottom: none;
}
#slideout-menu .search-input {
  width: 100%;
  padding-left: 34px;
  height: 36px;
  line-height: 1;
  outline: none;
  border-top: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px dotted #ccc;
  -webkit-appearance: none;
  border-radius: 0;
  background: white url(../img/search-icon.png) no-repeat 15px 14px;
}
#slideout-menu .search-input:focus {
  background-position: 15px -11px;
}
/* END Slideout Search */

/* Home + interactive map pages */
.page-node-19,
.page-node-22 {
  overflow: hidden;
}
.page-node-19 #outer-wrapper,
.page-node-22 #outer-wrapper {
  overflow: visible;
}
.page-node-19 h1.logo,
.page-node-22 h1.logo, {
  opacity: 0;
}
.page-node-19.map-shown h1.logo,
.page-node-22.map-shown h1.logo, {
  opacity: 1;
}
.page-node-19 .main-content,
.page-node-22 .main-content {
  margin-top: -16px;
  overflow: hidden;
}


.right .filter-button,
.right .filter-button {
  display: none;
}

body.show_filter .right .filter-button,
body.show_filter .right .filter-button {
  display: block;
}


/* END home + interactive map pages */

/* Home page */
#hp-container {
  width: 100%;
  height: 100%;
}
.page-node-22 h1.logo {
  display: none;
}
.page-node-22 .slogan {
  width: 100%;
  position: absolute;
  top: 600px;
  left: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
  text-align: center;
}
.page-node-22 .continue-arrow {
  display: block;
  width: 13px;
  height: 18px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  margin-left: -7px;
  background: url(../img/continue-arrow.png);
}
/* END home page */

/* Interactive Map */
.page-node-19.map-shown {
  background: #efefef;
}
#map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#country-info {
  width: 220px;
  position: absolute;
  top: 16px;
  right: -300px;
  z-index: 1000;
  border: 1px solid #ccc;
  background: #fff;

  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -ms-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}
#country-info.active {
  right: 20px;
}
#country-info .country {
  display: block;
  margin: 0;
  padding: 14px 14px 12px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #303030;
}
#country-info .type,
#country-info .population,
#country-info .gdp {
  height: 33px;
  margin: 0;
  padding: 0 14px;
  font-size: 12px;
  line-height: 35px;
  color: #646464;
  border-top: 1px dotted #ccc;
}
#country-info ul li {
  border-top: 1px solid #ccc;
}
#country-info .project-name,
#country-info .field {
  display: block;
  margin: 0;
  font-size: 12px;
  text-decoration: none;
}
#country-info .project-name {
  padding: 13px 14px 11px;
  line-height: 16px;
  color: #303030;
  font-weight: bold;
}
#country-info .field {
  padding-left: 33px;
  height: 33px;
  line-height: 34px;
  color: #646464;
  border-top: 1px dotted #ccc;
  background: url(../img/field-icon.png) no-repeat 14px center;
}

/* END of Interactive Map */

/* Organisations // UPRACEM ZAJTRA!!! */

.view-organisations {padding:0px 15px ; font-size: 14px}

.view-organisations h3 {margin: 0px; font-size: 14px;}
.view-organisations h4 {margin: 0px; font-size: 14px; color: #ff0000; margin-bottom: 5px; font-weight: normal}
.view-organisations .view-grouping .view-grouping {margin-bottom: 20px}



.node-21 {display: none}

@media (min-width: 492px) {
	.view-organisations .view-grouping {float: left; width: 50%}
	.view-organisations .view-grouping .view-grouping {display: block; float: none}  
	.view-organisations .grouping3,
	.view-organisations .grouping5,
	.view-organisations .grouping7,
	.view-organisations .grouping9,
	.view-organisations .grouping11 {clear: left}  
}

@media (min-width: 769px) {
	.view-organisations .view-grouping {float: left; width: 33%; max-width: 250px}
	.view-organisations .view-grouping .view-grouping {float: none; width: auto}
    .view-organisations {margin-left: 130px}
    .view-organisations .grouping7,
	.view-organisations .grouping4 {clear: left}
	
	.view-organisations .grouping3,
	.view-organisations .grouping5,

	.view-organisations .grouping9,
	.view-organisations .grouping11 {clear: none}
}

/* END of Organisations */



/* Icon Font */



.logo a {text-indent: -3999px; display: block}
.logo:before{
  text-indent: 0px;
  content: "\e60f";
  font-size: 74px;
  position: relative;
  top: -6px
}

.main-nav .menu-search a.submit:before{
  content: "\e601";
  left: 12px;
  top: 11px;
  font-size: 10px;
  text-indent: 0px;
}

#project-preview .country a:before {
  content: "\e602"; 
  left: -14px;
  top: -1px;
  color: #646464;
}


.project .country a:before{
  content: "\e602"; 
  left: -14px;
  top: -1px;
  color: #646565;
}


#country-info .field:before,
#project-preview .field a:before {
  content: "\e604"; 
  left: -18px;
  top: -1px;
  color: #646464;
}
#country-info .field:before {
	left: 13px;
	top: 9px;
}

.project .field a:before {
  content: "\e604"; 
  left: -17px;
  top: -1px;
  color: #646565;
}

@media (min-width: 492px){ 
  .project .field a:before{
    left: -17px;
  }
}

#project-preview .link a:before {
  content: "\e606"; 
  left: -18px;
  top: -1px;
}


#project-preview .ngo:before {
  content: "\e607"; 
  left: 14px;
  top: 9px;
}

#project-preview .contacts:before {
  content: "\e608"; 
  left: 14px;
  top: 13px;
  font-size: 8px;
}

.filter-button .label:before{
  content: "\e605";
  right: 10px;
  top: 17px;
  font-size: 10px;
}

@media (min-width: 769px){
  .filter-button .label:before{
    top: 10px;
  } 
}

.filter-button .label.active:before{

  right: -10px;
}

.filter-button.menu-tablet .label.active:before{

	right: 10px;
}

.filter-button .clear-filter:before{
  text-indent: 0px;
    content: "\e60a";
    color: #F00;
  left: 28px;
  top: 19px;
  font-size: 8px;
}

@media (min-width: 769px){
  .filter-button .clear-filter:before{
    top: 12px;
    left: 15px;
    font-size: 7px;
  } 
}

.project-preview .main-nav .close-full-preview:before{
  text-indent: 0px;
    content: "\e60b";
    color: #767777;
  left: 19px;
  top: 19px;
  font-size: 10px;
}



.main-nav .menu-icon a:before{
  text-indent: 0px;
    content: "\e603";
    color: #636363;
  left: 15px;
  top: 18px;
  font-size: 10px;
}



.svg .logo a,
.svg .icon {
  background-image: none !important; 
  position: relative;
}

.project-preview .main-nav .close-full-preview,
.filter-button .clear-filter,
.project .field,
.project .country {position: absolute}


.svg .logo:before,
.svg .icon:before{
  font-family: 'tdm';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2;
  position: absolute;
}


/* END of Icon Font */

/* Transitions */

.svg .icon,
.svg .logo:before,
.main-nav .menu-search a:before,
.main-nav .menu-icon a:before,
.project-preview .main-nav .close-full-preview:before,
.filter-content li a,
#project-preview .country a:before,
.project .country a:before,
#project-preview .field a:before,
.project .field a:before,
#project-preview .link a:before,
#project-preview .ngo:before,
#project-preview .country a,
.project .country a,
#project-preview .field a,
.project .field a,
#project-preview .link a,
#project-preview .ngo a{
  -webkit-transition: color 0.3s; /* For Safari 3.1 to 6.0 */
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s; 
  transition: color 0.3s;
  
}

.filter-button .label:before,
.filter-button .clear-filter,
#project-preview .contacts.show,
#project-preview .contacts{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#project-preview .contacts.show:before,
.project-preview .main-nav .close-full-preview:hover:before,
.slideout-menu-opened .main-nav .menu-icon a:before {
  color: #FF0000;
}

.filter-button .clear-filter {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  display: block;
}

.filter-button .clear-filter.active {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	display: block;
	opacity: 1;
}

.svg .logo:hover,
.main-nav .menu-search a:hover:before,
#project-preview .country a:hover:before,
.project .country a:hover:before,
#project-preview .field a:hover:before,
.project .field a:hover:before,
#project-preview .link a:hover:before,
#project-preview .ngo:hover:before,
#project-preview .country a:hover,
.project .country a:hover,
#project-preview .field a:hover,
.project .field a:hover,
#project-preview .link a:hover,
#project-preview .ngo a:hover {
	color: #F00;
	text-decoration: none;
}

/* END of Transitions */


/* Text page */

.main-content .node-page {
  margin: 0px 15px;
}

.main-content .node-page .field-name-body p{
  margin-top: 0px; margin-bottom: 20px;
}

.main-content .node-page strong {
  font-size: 18px;
  font-weight: normal;
  padding: 18px 0px;
  display: block;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
}

@media (min-width: 492px) {
  .main-content .node-page {
     width: 385px;
     margin: 0 auto;
  }
}

@media (min-width: 769px) {
  .main-content .node-page {
    margin-left: 130px; 
  }
}

/* END of Text page */

/* Retina images */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  
  .filter-content h3 a {
    background: white url(../img/close-icon@2x.png) no-repeat 0 0;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
  }
  .main-nav .close-full-preview {
    background: url(../img/close-icon@2x.png) no-repeat center center;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
  }
  .project .country {
    background-image: url(../img/country-pin@2x.png);
    -webkit-background-size: 6px 12px;
    background-size: 6px 12px;
  }
  .filter-button .label,
  .filter-button.menu-tablet .label.active {
    background-image: url(../img/dropdown-arrows@2x.png);
    -webkit-background-size: 7px 92px;
    background-size: 7px 92px;
  }
  .main-nav .filter-content li {
    background-image: none;
  }
  .project .field {
    background-image: url(../img/field-icon@2x.png);
    -webkit-background-size: 11px 11px;
    background-size: 11px 11px;
  }
  #country-info .field {
    background-image: url(../img/field-icon@2x.png);
    -webkit-background-size: 11px 11px;
    background-size: 11px 11px;
  }
  .logo {
    background-image: url(../img/logo@2x.png);
    -webkit-background-size: 70px 75px;
    background-size: 70px 75px;
  }
  .main-nav .menu-icon a {
    background-image: url(../img/menu-icon@2x.png);
    -webkit-background-size: 18px 100px;
    background-size: 18px 100px;
  }
  .main-nav .menu-search a,
  #slideout-menu .search-input {
    background-image: url(../img/search-icon@2x.png);
    -webkit-background-size: 9px 9px;
    background-size: 9px 9px;
  }

  #project-preview .country {
    background: url(../img/country-pin@2x.png) no-repeat 16px center;
    -webkit-background-size: 6px 12px;
    background-size: 6px 12px;
  }
  #project-preview .field {
    background: url(../img/field-icon@2x.png) no-repeat 15px 10px;
    -webkit-background-size: 11px 11px;
    background-size: 11px 11px;
  }
  #project-preview .link {
    background: url(../img/world-icon@2x.png) no-repeat 14px center;
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
  }
  .filter-button .clear-filter {
    background-image: url(../img/clear-filter@2x.png);
    -webkit-background-size: 7px 7px;
    background-size: 7px 7px;
  }
  
  .page-node-22 .continue-arrow {
    background-image: url(../img/continue-arrow@2x.png);
    -webkit-background-size: contain;
    background-size: contain;
  }

}
/* END of retina images */
