
#editormenu {font-family: "Helvetica"; position: fixed; left: 20px; top: 150px; background: white; padding: 5px; width: 120px; border-radius: 5px; overflow: hidden; width: 20px; z-index: 550; padding-top: 10px}
#editormenu a {color: black; text-decoration: none; font-weight: bold; color: #4c4c4c}
#editormenu .editorlink:hover a {color: #282828}

#editormenu .editorlink {line-height: 20px; width: 120px; margin-bottom: 5px}



#editormenu .editorlink:first-letter {text-transform: uppercase}

#editormenu .editoricon {display: block; float: left; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; margin-right: 10px; opacity: 0.5}

#editormenu .editorlink:hover .editoricon {opacity: 1}

#editormenu .first .editoricon,
#editormenu .last .editoricon {opacity: 1}

#editormenu .last {margin-bottom: 5px; margin-top: 15px}
#editormenu .first {margin-bottom: 10px}

html body.admin-menu {margin-top: 0px !important}