/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* header */
h1.logo {
  width: 70px;
  height: 75px;
  margin: 34px 0 30px 20px;
  text-indent: -9999px;
  background: url(../img/logo.png) no-repeat center center;
}
.main-nav {
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main-nav ul {
  position: relative;
  width: 100%;
  padding-left: 33px;
}
.main-nav li {
  width: 50%;
  float: left;
  line-height: 30px;
  text-indent: 10px;
  border-left: 1px solid #ccc;
  background: #efefef url(../img/dropdown-arrows.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.main-nav li:first-child {
  border: none;
}
.main-nav .menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 30px;
  border-right: 1px solid #ccc;
  text-indent: -9999px;
  background: url(../img/menu-icon.png) no-repeat center center;
}
/* end of header */

/* Projects */
.projects {
  padding: 0 16px;
}
.projects .project {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}
.project img {
  float: left;
  width: 45.45%;
}
.project .content {
  float: left;
  width: 54.55%;
}
/* End of projects */
