/* Fonts */
@font-face {
  font-family: 'simplon';
  src: url('fonts/simplonnorm-bold-webfont.eot');
  src: url('fonts/simplonnorm-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/simplonnorm-bold-webfont.woff') format('woff'),
       url('fonts/simplonnorm-bold-webfont.ttf') format('truetype'),
       url('fonts/simplonnorm-bold-webfont.svg#simplon_normbold') format('svg');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'simplon';
  src: url('fonts/simplonnorm-regular-webfont.eot');
  src: url('fonts/simplonnorm-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/simplonnorm-regular-webfont.woff') format('woff'),
       url('fonts/simplonnorm-regular-webfont.ttf') format('truetype'),
       url('fonts/simplonnorm-regular-webfont.svg#simplon_normregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END fonts */

/* General stuff */
body {
  overflow: hidden;
}
#wrapper {
  width: 100%;
  float: right;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* End of general stuff */

/* Typography */
body {
  font-family: "Simplon", Helvetica, Arial, sans-serif;
}
h1 {

}
h2 {
  margin: 0;
}
h3 {

}
/* END typography */

/* header */
h1.logo {
  width: 70px;
  height: 75px;
  margin: 34px 0 30px 20px;
  text-indent: -9999px;
  background: url(../img/logo.png) no-repeat center center;
}
.main-nav {
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main-nav ul {
  position: relative;
  width: 100%;
  padding-left: 33px;
}
.main-nav li {
  width: 50%;
  float: left;
  line-height: 30px;
  text-indent: 10px;
  border-left: 1px solid #ccc;
  background: #efefef url(../img/dropdown-arrows.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.main-nav li a,
.main-nav li a:hover {
  display: block;
  color: #000;
  text-decoration: none;
}
.main-nav li:first-child {
  border: none;
}
.main-nav .menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 30px;
  border-right: 1px solid #ccc;
}
.main-nav .menu-icon a {
  display: block;
  text-indent: -9999px;
  background: url(../img/menu-icon.png) no-repeat center center;
}
/* end of header */

/* Slideout menu */
#slideout-menu {
  float: left;
  width: 0;
  overflow: hidden;
  border-right: 1px solid #ccc;
  background: #efefef;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slideout-menu-opened #slideout-menu {
  width: 270px;
}
.slideout-menu-opened #wrapper {
  margin-right: -270px;
}
#slideout-menu li a {
  display: block;
  padding-left: 16px;
  line-height: 40px;
  color: #646464;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
#slideout-menu li a:hover,
#slideout-menu li a:active,
#slideout-menu li a.active {
  color: #ff0000;
}
/* End of slideout menu */

/* Projects */
.projects {
  padding: 0 16px;
}
.projects .project {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}
.project img {
  float: left;
  width: 45.45%;
}
.project .content {
  float: left;
  width: 54.55%;
}
/* End of projects */

/* Projects Field dropdown */
#field-dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 32px 16px;
  background: #efefef;
}
#field-dropdown.active {
  display: block;
  opacity: 1;
}
#field-dropdown h3 {
  position: relative;
  height: 34px;
  margin: 0;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border: 1px solid #ccc;
  background: #fff;
}
#field-dropdown h3 a {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 101;
  color: #646464;
  text-indent: -9999px;
  background: white url(../img/close-icon.png) no-repeat 0 0;
}
#field-dropdown ul {
  border-bottom: 1px solid #ccc;
}
#field-dropdown li {
  height: 34px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border-top: 1px dotted #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
}
#field-dropdown li:first-child {
  border-top: none;
}
#field-dropdown li a {
  display: block;
  color: #646464;
}
#field-dropdown li a:hover,
#field-dropdown li a.active {
  color: #f00;
  text-decoration: none;
}
/* END of Projects Field dropdown */

/* Projects Country dropdown */
#country-dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 32px 16px;
  background: #efefef;
}
#country-dropdown.active {
  display: block;
  opacity: 1;
}
#country-dropdown h3 {
  position: relative;
  height: 34px;
  margin: 0;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border: 1px solid #ccc;
  background: #fff;
}
#country-dropdown h3 a {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 101;
  color: #646464;
  text-indent: -9999px;
  background: white url(../img/close-icon.png) no-repeat 0 0;
}
#country-dropdown ul {
  border-bottom: 1px solid #ccc;
}
#country-dropdown li {
  height: 34px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border-top: 1px dotted #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
}
#country-dropdown li:first-child {
  border-top: none;
}
#country-dropdown li a {
  display: block;
  color: #646464;
}
#country-dropdown li a:hover,
#country-dropdown li a.active {
  color: #f00;
  text-decoration: none;
}
/* END of Projects Country dropdown */
