/* Fonts */
@font-face {
  font-family: 'simplon';
  src: url('fonts/simplonnorm-bold-webfont.eot');
  src: url('fonts/simplonnorm-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/simplonnorm-bold-webfont.woff') format('woff'),
       url('fonts/simplonnorm-bold-webfont.ttf') format('truetype'),
       url('fonts/simplonnorm-bold-webfont.svg#simplon_normbold') format('svg');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'simplon';
  src: url('fonts/simplonnorm-regular-webfont.eot');
  src: url('fonts/simplonnorm-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/simplonnorm-regular-webfont.woff') format('woff'),
       url('fonts/simplonnorm-regular-webfont.ttf') format('truetype'),
       url('fonts/simplonnorm-regular-webfont.svg#simplon_normregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END fonts */

/* General stuff */
#outer-wrapper {
  overflow: hidden;
  min-width: 300px;
}
#wrapper {
  width: 100%;
  float: right;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a, a:active, a:focus {
  outline: 0;
}
/* End of general stuff */

/* Typography */
body {
  font-family: "Simplon", Helvetica, Arial, sans-serif;
}
h1 {

}
h2 {
  margin: 0;
}
h3 {

}
/* END typography */

/* header */
h1.logo {
  width: 70px;
  height: 75px;
  margin: 34px 0 30px 20px;
  text-indent: -9999px;
  background: url(../img/logo.png) no-repeat center center;
}
.main-nav {
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main-nav ul {
  position: relative;
  width: 100%;
  padding-left: 33px;
}
.main-nav li {
  width: 50%;
  float: left;
  line-height: 30px;
  text-indent: 10px;
  border-left: 1px solid #ccc;
  background: #efefef url(../img/dropdown-arrows.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.main-nav li a,
.main-nav li a:hover {
  display: block;
  color: #000;
  text-decoration: none;
}
.main-nav li:first-child {
  border: none;
}
.main-nav .menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 30px;
  border-left: none;
  border-right: 1px solid #ccc;
}
.main-nav .menu-icon a {
  display: block;
  text-indent: -9999px;
  background: url(../img/menu-icon.png) no-repeat center center;
}
.main-nav .menu-tablet {
  margin-left: 98px;
  border-left: 1px solid #ccc;
  color: #f00;
  background-color: #fff;
}
.main-nav .secondary {
  display: none;
}
.main-nav .menu-search {
  width: 180px;
  background: none;
}
.main-nav .menu-search input {
  float: left;
  width: 144px;
  padding: 0 10px;
  line-height: 30px;
  border: none;
  background: none;
}
.main-nav .menu-search a {
  display: block;
  width: 35px;
  float: left;
  text-indent: -9999px;
  border-left: 1px solid #ccc;
  background: #f0f0f0 url(../img/search-icon.png) no-repeat center center;
}

@media (min-width: 492px) {
  .main-nav li {
    width: 145px;
    border-left: none;
    border-right: 1px solid #ccc;
  }
  .main-nav li:first-child {
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 768px) {
  h1.logo {
    position: absolute;
    top: 50px;
    left: 30px;
    margin: 0;
  }
}
/* end of header */

/* Slideout menu */
#slideout-menu {
  float: left;
  width: 0;
  margin-left: -1px;
  overflow: hidden;
  border-right: 1px solid #ccc;
  background: #efefef;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slideout-menu-opened #slideout-menu {
  width: 270px;
  margin-left: 0;
}
.slideout-menu-opened #wrapper {
  margin-right: -270px;
}
#slideout-menu li a {
  display: block;
  padding-left: 16px;
  line-height: 40px;
  color: #646464;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
#slideout-menu li a:hover,
#slideout-menu li a:active,
#slideout-menu li a.active {
  color: #ff0000;
}
/* End of slideout menu */

/* Projects */
.projects {
  padding: 0 16px;
}
.projects .project {
  position: relative;
  margin-bottom: 16px;
  border: 1px solid #ccc;
}
.project img {
  float: left;
  width: 45.5%;
}
.project .content {
  float: left;
  width: 54.5%;
  padding: 10px 15px 0;
}
.project h2 {
  font-size: 12px;
}
@media (min-width: 400px) {
  .project h2 {
    font-size: 14px;
  }
}
.project .country,
.project .field {
  position: absolute;
  height: 32px;
  bottom: 0;
  margin: 0;
  padding: 8px 0 0 24px;
  font-size: 12px;
  color: #646464;
  border-top: 1px dotted #ccc;
}
.project .country {
  float: left;
  left: 45.5%;
  width: 15.7%;
  padding-left: 20px;
  border-right: 1px dotted #ccc;
  background: url(../img/country-pin.png) no-repeat 9px center;
}
.project .field {
  float: left;
  width: 38.8%;
  left: 61.2%;
  background: url(../img/field-icon.png) no-repeat 7px center;
}

@media (min-width: 492px) {
  .projects {
    padding-left: 0;
  }
  .projects .project {
    width: 220px;
    height: 280px;
    float: left;
    margin-left: 16px;
  }
  .project img,
  .project .content,
  .project .country,
  .project .field {
    float: none;
    width: 100%;
  }
  .project .content {
    padding: 20px 16px 0;
  }
  .project .country,
  .project .field {
    left: 0;
  }
  .project .country {
    bottom: 32px;
    border-right: none;
  }

}

@media (min-width: 768px) {
  .projects {
    padding-left: 114px;
  }
}
/* End of projects */

/* Filter content */
.filter-content {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 32px 16px;
  background: #efefef;
}
.filter-content.active {
  display: block;
  opacity: 1;
}
.filter-content h3 {
  position: relative;
  height: 34px;
  margin: 0;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border: 1px solid #ccc;
  background: #fff;
}
.filter-content ul {
  padding: 0;
  width: 100%;
}
.filter-content li {
  width: 100%;
  float: none;
}
.filter-content h3 a {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 101;
  color: #646464;
  text-indent: -9999px;
  background: white url(../img/close-icon.png) no-repeat 0 0;
}
.filter-content ul {
  border-bottom: 1px solid #ccc;
}
.filter-content li {
  height: 34px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border-top: 1px dotted #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
}
.filter-content li:first-child {
  border-top: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.filter-content li a {
  display: block;
  color: #646464;
}
.filter-content li a:hover,
.filter-content li a.active {
  color: #f00;
  text-decoration: none;
}
/* END of filter content */







































